.signup-container {
    width: 100vw;
    display: flex;
    height: 100vh;
}
.signup-cover {
    width: 50%;
    background-image: url(../../images/profile.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-cover::before {
    content: "";
    background-color: rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
}

.cover-content {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.cover-content h1 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 25px;
}
.cover-content .cover-underline {
    background-color: #F45815;
    width: 100%;
    height: 2px;
}
.cover-content p{
    display: flex;
    margin-top: 8px;
    color: #ffffff80;
    align-self: flex-end;
}

.signup-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 10px 0 10px;
    align-items: center;
}

.signup-content h2 {
    text-align: center;
    color: #F45815;
    font-size: 35px;
    font-weight: bolder;
}
.signup-content a {
    text-decoration: none;
    cursor: pointer;
    color: #F45815;
}
  
.infoForm {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.infoInput {
    width: 100%;
    padding: 30px 10px;
    margin-bottom: 5px;
    margin-bottom: 20px;
    border: none;
    box-sizing: border-box;
    outline: none;
    background: #011a3f60;
    color: #ffffff80;
    border-bottom: 1px solid #F45815;
}

.infoForm div {
    display: flex;
    gap: 10px;
    height: 90px;
}

.infoForm div > div {
    flex: 1;
}  
  
.button {
    cursor: pointer;
    color: #F45815;
    border: 2px solid #F45815;
    padding: 15px 60px;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
    transition: all .3s;
    width: 200px;
    font-weight: bold;
    text-align: center;
}
.button:hover {
    background-color: #F45815;
    color: #fff;
}

.signup-text {
    margin-top: 20px;
}
center {
    margin-top: 60px;
}
.error-text {
    display: block;
    color: #d93025;
    font-size: 14px;
    margin-top: -25px;
    display: none;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.confirm-pass-error {
    color: #d93025;
    font-size: 14px;
    margin-bottom: 15px;
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: fit-content;
    color: #ffffff80;
    font-size: 14px;
    margin-top: 40px;
}

.git_ratings {
    margin-bottom: 20px;
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    .signup-cover {
        display: none;
    }
    .signup-content {
        width: 100%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .signup-cover {
        display: none;
    }
    .signup-content {
        width: 100%;
        padding: 50px 70px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .signup-cover {
        width: 40%;
    }
    .cover-content h1 {
        font-size: 27px;
        margin-left: 20px;
    }
    .cover-content .cover-underline {
        width: 90%;
        margin-left: 20px;
    }
    .cover-content p{
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .signup-content {
        width: 60%;
    }
}