:root {
  --primary-color: #ccd6f6;
  --secondary-color: #a8b2d1e5;
  --accent-color: #8892b0;
  --dark-orange: #F45815;
  --dark-bg: #0A192F;
  --light-bg: #0d2242;
  --scroll-bg: #0A192Fe5;
  --light-border: #0f2f5ffe;
  --card-after: #E9A98E;

  --dark-navy: #020c1b;
  --navy: var(--dark-bg);
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
    sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --fx-xxxs: 10px;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 15px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 30px;
  --fz-large: 36px;
  --paragraph-spacing: 30px;
  --pletter-spacing: 1px;
}


::selection {
    background-color: var(--dark-orange);
    color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-bg);
    overflow-x: hidden;
    cursor: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .floating-button {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background: transparent;
    position: fixed;
    bottom: 20px;
    right: 18px;
    overflow: hidden;
    z-index: 900;
  }
  .floating-button a {
    inset: 8px;
    position: absolute;
    background-color: var(--dark-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 950;
    border-radius: 4px;
    color: #fff;
  }
  .floating-button a:hover {
    color: var(--primary-color);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:var(--dark-bg);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--light-bg);
  }
  
  /* NAVIGATION BAR STYLING */

  /* Header style when not scrolling */
.header-top {
  padding: 20px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header {
  padding: 20px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Header style when scrolling */
.header-scroll {
  padding: 20px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px) brightness(40%);
  background-color: var(--scroll-bg);
  z-index: 100;
  left: 0;
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out;
  animation: fadeInDown 0.6s ease-out;
  box-shadow: 0px 7px 20px rgba(10, 25, 47, 0.1);
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

  .navbar a {
    color: var(--accent-color);
    font-size: var(--fz-sm);
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
  }

  .navbar a:hover {
    color: var(--dark-orange);
  }
  .navbar a:nth-child(5):hover {
    color: var(--primary-color);
  }
  .navbar a:nth-child(5) span {
    display: none;
  }
  
 .logo img {
    height: 50px;
    width: 50px;
    transition: all .3s ease-out;
  }
.logo img:hover {
    opacity: .8;
  }

  #menu-icon {
    font-size: var(--fz-large);
    color: var(--accent-color);
    display: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: var(--accent-color);
    transition: color 0.3s ease;
    font-size: var(--fz-md);
  }
  
  a:hover {
    color: var(--dark-orange);
    transition: .4s;
    transform: translateY(-3px);
  }
  
  .resume-button {
    padding: 0.5rem 1rem;
    border: 2px solid var(--dark-orange);
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.4s;
    position: relative;
    z-index: 11;
  }

  .resume-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-orange);
    height: 100%;
    width: 0;
    z-index: -111111;
    transition: .4s;
  }
  .resume-button:hover {
    background-color: transparent;
    color: var(--accent-color);
  }
  .resume-button:hover::before {
    width: 100%;
  }
  
  .resume-button-li a {
    text-decoration: none;
    color: var(--dark-orange);
    transition: color 0.3s ease;
  }
  
  .resume-button-li a:hover {
    color: var(--primary-color);
  }
  
  
  /* END OF NAVIGATION BAR STYLING */
  
  
  /* MAIN SECTION STYLING */
  
  .container {
    display: grid;
    grid-template-columns: 90px 1fr;
    height: fit-content;
    grid-template-areas: 
    'left section'
    'left section'
    'left section';
  }
  
  .left_col{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    overflow: clip;
    grid-area: left;
    width: 80px;
    left: 0;
    height: 100vh;
  }
  .col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left_border,.right_border {
    border: 0.2px solid var(--accent-color);
    
  }
  
  .first_line {
    height: 80px;
  }
  .second_line {
    height: 120px;
    margin-top: 40px;
  }
  
  
  .email {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin-top: 40px;
  }
  
  .social_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
  }
  .social_icons_icon:hover {
    color: var(--dark-orange);
    cursor: pointer;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  /* STYLING OF THE INDEX SECTION */
  
  
  section {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    grid-area: section;
  }
  
  
  .index {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 200px;
  }
  
  .index_content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .index_content .description {
    width: 70%;
  }
  
  .index_content .greetings,.role,.description {
    padding-bottom: 40px;
  }
  .index_content .greetings h1 {
    font-size: var(--fz-md);
    color: var(--dark-orange);
  }
  .index_content .name h2 {
    font-size: 5rem;
    color: var(--primary-color);
  }
  .index_content .role h3 {
    font-size: 4rem;
    color: var(--secondary-color);
  }
  .index_content .description p {
    font-size: var(--fz-md);
    color: var(--accent-color);
    line-height: var(--paragraph-spacing);
    letter-spacing: var(--pletter-spacing);
  }
  
  .message {
    padding: 1rem 4rem;
    border: 2px solid var(--dark-orange);
    color: var(--white);
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: fit-content;
    color: var(--dark-orange);
    margin-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all .4s;
  }
  .message::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-orange);
    height: 100%;
    width: 0;
    z-index: -111111;
    transition: .4s;
  }
  
  .message:hover {
    transform: translateY(-3px);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
  }

  .message:hover::before {
    width: 100%;
  }
  
  /* THE END OF INDEX SECTION STYLING */
  
  
  /* THE END OF THE MAIN SECTION STYLING */
  
  
  
  /* THE ABOUT PAGE */
  
  .about {
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  
  .my_story_profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my_story_profile img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: relative;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
  }
  
  .img-container {
    border: 0.5px solid var(--dark-orange);
    background-color: var(--dark-orange);
    height: 230px;
    width: 250px;
    position: absolute;
    border-radius: 5px;
  }
  
  .quote {
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .my_story {
    text-align: justify;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .my_story .about-heading {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    align-items: center;
    height: 30px;
    justify-content: end;
}
.my_story .about-heading h2 {
    font-size: var(--fz-heading);
    color: var(--primary-color);
    align-self: flex-end;
    margin: 0;
  }

  h2 {
    color: var(--primary-color);
  }

  .my_story .about-heading .line {
    width: 30%;
    height: 0.4px;
    background-color: var(--dark-orange);
    margin-right: 20px;
    align-self: center;
  }

  .my_story p {
    color: var(--accent-color);
    font-size: var(--fz-md);
    margin-bottom: 10px;
    line-height: var(--paragraph-spacing);
    letter-spacing: var(--pletter-spacing);
  }
.tech-skills {
  display: flex;
}
.tech-skills ul:nth-child(2) {
  margin-left: 30px;
}
.tech-skills ul, .timeline-container .text-box ul {
  list-style-type: none;
  padding-left: 0;
}
.social_res-icons{
  display: none;
}
.tech-skills ul {
  margin: 30px 0 30px 0;
}
.tech-skills li, .timeline-container .text-box ul li {
  position: relative;
  padding-left: 30px;
  font-size: var(--fz-md);
  color: var(--accent-color);
  margin-bottom: 10px;
  letter-spacing: var(--pletter-spacing);
  line-height: var(--paragraph-spacing);
  text-align: justify;
}
.tech-skills li::before, .timeline-container .text-box ul li::before {
  content: "\2311";
  position: absolute;
  left: 0;
  top: 17px;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--dark-orange);
}
/* EXPERIENCE */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px 0;
}

.timeline-container {
  width: 50%;
  position: relative;
  opacity: 0;
}
@keyframes moveright {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveleft {
  0% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.experience-section {
  margin-top: 150px;
  text-align: center;
}
.timeline-container .text-box{
  color: var(--accent-color);
  font-size: var(--fz-md);
  background-color: var(--light-bg);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  border: 0.5px solid var(--light-border)
}
.experience h2{
  margin-bottom: 8px;
  color: var(--primary-color);
}
.experience p{
  margin-bottom: 10px;
}
.timeline-container .text-box ul {
  margin-top: 25px;
  color: var(--accent-color);
  padding: 0 20px;
}
.timeline-container .text-box ul li {
  margin-bottom: 20px;
  letter-spacing: var(--pletter-spacing);
  line-height: var(--paragraph-spacing);
}
.left-container {
  padding: 20px 40px 20px 20px;
  left: 0;
  animation: moveright 1s linear forwards;
}
.right-container {
  padding: 20px 20px 20px 40px;
  left: 50%;
  animation: moveleft 1s linear forwards;
}
.right-container img{
  left: -20px;
}
.timeline-container img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: 40px;
  z-index: 10;
  background-color: var(--dark-orange);
  border: 1px solid var(--dark-orange);
}
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--dark-orange);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.timeline-container .text-box .left-container-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--light-bg);
  border-bottom: 15px solid transparent;
  top: 28px;
  z-index: -11;
  right: -15px;
}
.timeline-container .text-box .right-container-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid var(--light-bg);
  border-bottom: 15px solid transparent;
  top: 28px;
  z-index: -11;
  left: -15px;
}
.timeline-container:nth-child(1) {
  animation-delay: 0s;
}
.timeline-container:nth-child(2) {
  animation-delay: 1s;
}
.timeline-container:nth-child(3) {
  animation-delay: 2s;
}
/* END OF EXPERIENCE */
  
  .skills {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .skills h2 {
    font-size: 35px;
    color: var(--primary-color);
  }
  
  .what_I_do {
    width: 100%;
    margin-top: 80px;
    padding: 0;
  }
  
.my-services h2 {
  color: var(--primary-color);
  text-align: center;
  position: relative;
  font-size: var(--fz-heading);
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.service-cards .card {
  height: 330px;
  background-color: var(--light-bg);
  padding: 20px;
  border: 0.5px solid var(--light-border);
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.service-cards .card::after {
  content: '';
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(45deg);
  background-color: var(--card-after);
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}
.service-cards .card:hover::after {
  width: 225%;
  top: -100%;
}
.service-cards .card h3 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 1px;
}
.service-cards .card p{
  color: var(--accent-color);
  font-size: var(--fz-md);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  line-height: var(--paragraph-spacing);
  letter-spacing: var(--pletter-spacing);
}
.service-cards .card:hover {
  background-color: transparent;
  transform: translateY(-8px);
  border-color: var(--dark-orange);
  cursor: pointer;
}
.service-cards .card:hover h3{
  color: var(--dark-orange);
}
.service-icon {
  color: var(--dark-orange);
}
  /* END OF THE ABOUT PAGE */
  
  /* THE CONTACT FORM */
  #contact .mail-me {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Styles for the paragraphs inside the container */
.mail-me{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.mail-me .contact-me {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mail-me p {
  color: var(--accent-color);
  font-size: var(--fz-md);
  line-height: var(--paragraph-spacing);
  letter-spacing: var(--pletter-spacing);
  text-align: center;
  margin-bottom: 20px;
}
  form button {
    padding: 10px 30px;
    background: transparent;
    color: var(--dark-orange);
    font-size: var(--fz-md);
    border: 2px solid var(--dark-orange);
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 4px;
    transition: all .3s;
    z-index: 11111;
    position: relative;
  }
  form button:hover {
    color: var(--primary-color);
    transform: translateY(-4px);
  }


  form button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-orange);
    height: 100%;
    width: 0;
    z-index: -111111;
    transition: .4s;
  }
  
  form button:hover::before {
    width: 100%;
  }
  /* THE END OF THE CONTACT FORM */
  
  .user-btn {
    background-color: var(--dark-orange);
    color: var(--accent-color);
    padding: 10px 15px;
    border: none;
    font-size: var(--fz-md);
    border-radius: 6px;
    cursor: pointer;
    height: fit-content;
  }
  /* PROJECTS OR WORK SECTION */
  
  .work {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    margin: 70px 0;
  }
  
  .work h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--accent-color);
  }
  
  .work .work_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 13px;
    margin-bottom: 40px;
  }
  
  .Project {
    padding: 35px 30px;
    background: var(--light-bg);
    border-radius: 3px;
    cursor: pointer;
    z-index: 1;
    transition: .6s;
  }
  .project_buttons {
    display: flex;
  }
  .Project:hover {
    background-color: transparent;
    transform: translateY(-4px);
    transition: all .4s;
  }
  .Project:hover h2 {
    color: var(--dark-orange);
    transition: all .4s;
  }
  .Project:hover .languages ul li {
    color: var(--dark-orange);
    transition: all .4s;
    letter-spacing: var(--pletter-spacing);
    line-height: var(--paragraph-spacing);
  }
  .Project:hover p {
    color: var(--accent-color);
    transition: all .4s;
    letter-spacing: var(--pletter-spacing);
  }
  .Project h2{
    margin-bottom: 20px;
    color: var(--primary-color);
    font-size: 20px;
  }
  .Project p {
    font-size: var(--fz-md);
    color: var(--accent-color);
    line-height: var(--paragraph-spacing);
    text-align: justify;
    letter-spacing: var(--pletter-spacing);
  }
  
  .Project .languages {
    width: fit-content;
    margin-top: 40px;
  }
  
  .Project .languages ul {
    display: flex;
    align-items: center;
  }
  .Project .languages ul li {
    margin-right: 10px;
    list-style: none;
    font-size: var(--fz-sm);
    color: var(--accent-color);
    letter-spacing: var(--pletter-spacing);
    line-height: var(--paragraph-spacing);
  }
  
  .Project_icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .Project_folder {
    font-size: 60px;
  }
  
  .work_btn {
    padding: 15px 30px;
    border: 2px solid var(--dark-orange);
    font-size: var(--fz-md);
    width: fit-content;
    color: var(--dark-orange);
    margin-top: 20px;
    border-radius: 4px;
    transition: all .3s ease-out;
  }
  .work_btn:hover {
    box-shadow: 3px 3px var(--dark-orange);
    color: var(--primary-color);
  }
  
  /* END OF  PROJECTS OR WORK SECTION */
  
  
  /* FOOTER STYLING */
  
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: fit-content;
    color: var(--accent-color);
    font-size: var(--fz-md);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .git_ratings {
    margin-bottom: 20px;
    margin-top: 8px;
  }
  /* END OF FOOTER STYLING */
  
  
  /* START OF OPEN-BLOG STYLING */
  .infoForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  }
    
  .infoInput {
  width: 100%;
  padding: 20px 10px 2px 10px;
  margin-bottom: 5px;
  margin-bottom: 20px;
  border: none;
  box-sizing: border-box;
  outline: none;
  background: #011a3f60;
  border-bottom: 1px solid var(--dark-orange);
  }
  
  .infoForm div {
  display: flex;
  gap: 10px;
  height: 90px;
  width: 100%;
  }
  
  .infoForm div > div {
  flex: 1;
  }
    
  .button {
  cursor: pointer;
  color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  padding: 15px 60px;
  border-radius: 4px;
  font-size: var(--fz-md);
  background: transparent;
  transition: all .3s;
  width: 200px;
  font-weight: bold;
  text-align: center;
  }
  .button:hover {
  background-color: var(--dark-orange);
  color: var(--primary-color);
  }
  center {
    margin-top: 20px;
  }
  /* RESPONSIVE DESIGN */
  @media only screen and (max-width: 414px) {
        
    /* ANIMATING BACKGROUND DIAMONDS */
    body {
        overflow-x: hidden;
    }
    .index_content .description {
      width: 100%;
    }
    .navbar a:nth-child(5) span {
      display: inline;
    }
    .resume-button {
      padding: 0;
      border: none;
      text-decoration: none;
      border-radius: 0;
    }
    .tech-skills ul{
      margin-right: 0;
    }
    .tech-skills ul:nth-child(2){
      margin-left: 15px;
    }
    .social_res-icons {
        display: flex;
        margin-top: 70px;
        width: 250px;
        padding: 10px 20px;
        align-self: center;
        color: var(--accent-color);
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: var(--accent-color);
        transition: color 0.3s ease;
        font-size: var(--fz-md);
    }

    header {
      padding: 40px 20px 0 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
    }

    .header-top {
      padding: 40px 20px 0 20px;
      width: 100%;
      justify-content: space-between;
      z-index: 100;
    }
    .header-scroll {
      padding: 8px 20px;
      width: 100%;
    }
    .header-scroll img {
      height: 40px;
      width: 40px;
    }
    .header-top img {
      z-index: 999;
    }
    .logo img {
      height: 50px;
      width: 50px;
    }

    #menu-icon {
      display: block;
      z-index: 100;
    }
    .navbar {
      position: fixed;
      top: 5%;
      left: 0;
      width: 100%;
      padding: 4rem 4%;
      display: none;
      font-size: var(--fz-md);
      padding-left: 20px;
      color: var(--accent-color);
      z-index: 99;
    }
    .navbar.active-menu {
      display: block;
      transition: all 0.3s ease-in-out;
      animation: fadeInDownnav 0.3s ease-in-out;

    }
    @keyframes fadeInDownnav {
      0% {
          opacity: 0;
          transform: translateX(-100%);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
    }
    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }
    .nav-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dark-bg);
      z-index: 98;
      display: none ;
    }

    .nav-bg.active-menu {
      display: block;
    }
    
    a:hover {
        color: var(--dark-orange);
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .left_col{
        display: none;
    }
    section {
        padding: 20px;
    }
    .index {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .index_content {
        padding: 0px;
        width: 100%;
  
    }
    .index_content .greetings {
        margin-bottom: 10px;
    }
    .index_content .greetings h1 {
        margin-top: 50px;
    }
    .index_content .name h2 {
        font-size: 1.8rem;
    }
    .index_content .role h3 {
        font-size: 2.3rem;
        margin-top: 10px;
    }
    .index_content .description p {
        text-align: justify;
        letter-spacing: var(--pletter-spacing);
    }
    .profile_image {
        display: block;
    }
    .profile_image img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
    .about {
        display: flex;
        margin-top: 55px;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .quote {
        display: block;
        margin-top: 30px;
        text-align: center;
        color: var(--dark-orange);
    }
    
    .my_story {
        text-align: justify;
        padding: 0;
        order: 1;
    }
    .my_story_profile {
      order: 2;
      margin-bottom: 100px;
    }
    .my_story .about-heading {
      justify-content: center;
      align-items: center;
      margin-top: 100px;
  }
  
    .my_story .about-heading .line {
      display: none;
    }
    .my_skills {
        order: 4;
        padding: 0;
    }
    .wrapper-diamond {
        transform: rotate(0deg);
    }
    .box {
        height: 100px;
        width: 100px;
    }
    .skills {
        display: flex;
        margin-top: 70px;
        flex-direction: row;
    }
    
    .skills i {
        font-size: 40px;
        margin-right: 15px;
        margin-bottom: 0;
    }    
    .what_I_do {
        margin-top: 50px;
    }
    .offerings {
        gap: 15px;
    }
    .services {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    }
    .blog_post h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }    
    .blogs .post {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    } 
    .read-more-btn {
        font-size: var(--fz-md);
    }
    
    .read-more-btn:hover {
        box-shadow: 3px 3px var(--dark-orange);
        color: var(--primary-color);
    
    }
    .project {
        padding: 25px 20px;
        cursor: pointer;
    }
    .project h2{
        color: var(--primary-color);
        text-align: center;
    }    
    .project_icons {
        display: none;
    }
    .project_folder {
        font-size: 40px;
    }
    
    .work_btn {
        font-size: var(--fz-md);
    }
    footer {
        color: var(--accent-color);
        font-size: var(--fz-md);
        margin-bottom: 20px;
        margin-top: 0;
    }
    /* END OF FOOTER STYLING */
    
  }
  @media only screen and (min-width: 415px) and (max-width: 600px) {
    
    /* ANIMATING BACKGROUND DIAMONDS */
    body {
        overflow-x: hidden;
    }

    .index_content .description {
      width: 100%;
    }
    .navbar a:nth-child(5) span {
      display: inline;
    }
    .resume-button {
      padding: 0;
      border: none;
      text-decoration: none;
      border-radius: 0;
    }
    header {
      padding: 50px 50px 0 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      margin-bottom: 0;
    }

    .header-top {
      width: 100%;
      padding: 50px 50px 0 50px;
      justify-content: space-between;
    }
    .header-scroll {
      padding: 8px 50px;
      width: 100%;
    }
    .header-scroll img {
      height: 40px;
      width: 40px;
    }
    .logo img {
      height: 50px;
      width: 50px;
    }

    #menu-icon {
      display: block;
    }
    .navbar {
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 4rem 50px;
      display: none;
    }
    .navbar.active-menu {
      display: block;
    }
    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }
    .nav-bg {
      position: fixed;
      top: 11.8%;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px) brightness(40%);
      background-color: var(--scroll-bg);
      z-index: 99;
      display: none ;
    }

    .nav-bg.active-menu {
      display: block;
    }
    .social_res-icons {
        display: flex;
        margin-top: 70px;
        width: 350px;
        padding: 10px 20px;
        align-self: center;
        color: var(--accent-color);
        justify-content: space-between;
    }
    .social_res-icons i{
        font-size: 28px;
        cursor: pointer;
        color: var(--accent-color);
    }
    a {
        text-decoration: none;
        color: var(--accent-color);
        transition: color 0.3s ease;
        font-size: 18px;
    }
    .container {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    .left_col{
        display: none;
    }
    section {
        padding: 0;
    }
    .index {
        flex-direction: column;
        margin-top: 0;
    }
    .index_content {
        flex-direction: column;
        padding: 0px;
        width: 100%;
        order: 2;
  
    }
    .index_content .greetings,.role,.description {
        padding-bottom: 18px;
    }
    .index_content .greetings h1 {
        margin-top: 10px;
    }
    .index_content .name h2 {
        font-size: 2.3rem;
    }
    .index_content .role h3 {
        font-size: 2.8rem;
        margin-top: 10px;
    }
    .index_content .description p {
        text-align: justify;
        font-size: 15px;
        letter-spacing: var(--pletter-spacing);
    }
    .message {
        align-self: center;
        margin-bottom: 0;
    }
    .about {
        display: flex;
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    
    .my_story {
        text-align: justify;
        padding: 0;
        order: 1;
    }
    .my_story_profile {
      order: 2;
      margin-bottom: 80px;
    }
    .my_story .about-heading h2, #experience {
      font-size: 30px;
    }
    .my_story .about-heading .line {
      width: 35%;
    }
    .blog_post h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }    
    .blogs .post {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    }
    .project {
        padding: 35px 30px;
        cursor: pointer;
    }
    .project h2{
        color: var(--primary-color);
    }    
    .project_icons {
        display: flex;
    }
    .project_folder {
        font-size: 40px;
        color: var(--accent-color);
    }
    
    .project_icons .external i {
        margin-left: 15px;
        color: var(--accent-color);
        font-size: 18px;
    }
    
    .work_btn {
        font-size: var(--fz-md);
        padding: 15px 40px;
    }
    footer {
        color: var(--accent-color);
        font-size: var(--fz-md);
        margin-bottom: 20px;
        margin-top: 0;
    }
    /* END OF FOOTER STYLING */
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    
    /* CURSOR ANIMATION */
    .social_res-icons {
        display: flex;
        margin-top: 70px;
        width: 500px;
        padding: 10px;
        align-self: center;
        color: var(--accent-color);
        justify-content: space-between;
    }
    .index_content .description {
      width: 100%;
    }
    .navbar a:nth-child(5) span {
      display: inline;
    }

    .resume-button {
      padding: 0;
      border: none;
      text-decoration: none;
      border-radius: 0;
    }
    a {
        text-decoration: none;
        color: var(--accent-color);
        transition: color 0.3s ease;
        font-size: 18px;
    }

    header {
      padding: 50px 50px 0 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
      margin-bottom: 0;
    }

    .header-top {
      width: 100%;
      padding: 50px 50px 0 50px;
      justify-content: space-between;
    }
    .header-scroll {
      width: 100%;
      padding: 10px 50px;
    }
    .header-scroll img {
      height: 40px;
      width: 40px;
    }
    .logo img {
      height: 50px;
      width: 50px;
    }
    

    #menu-icon {
      display: block;
    }
    .navbar {
      position: fixed;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 4rem 50px;
      display: none;
    }
    .navbar.active-menu {
      display: block;
    }
    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }
    .nav-bg {
      position: fixed;
      top: 11.8%;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px) brightness(40%);
      background-color: var(--scroll-bg);
      z-index: 99;
      display: none ;
    }

    .nav-bg.active-menu {
      display: block;
    }
    /* END OF NAVIGATION BAR STYLING */
    
    
    /* MAIN SECTION STYLING */
    #experience {
      width: 100%;
      margin-top: 100px;
    }
    
    .exp-line {
      display: none;
    }
    .timeline {
      margin: 20px auto;
    }
    .timeline::after {
      left: 10px
    }
    .timeline-container {
      width: 100%;
      padding-left: 45px;
      padding-right: 0;
    }
    .text-box {
      font-size: 13px;
    }
    .right-container {
      left: 0;
    }
    .left-container img, .right-container img {
      left: -10px;
    }
    .left-container-arrow {
      left: -15px;
      transform: rotate(180deg);
    }
    @keyframes moveright {
      0% {
        opacity: 1;
        transform: translateY(-30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes moveleft {
      0% {
        opacity: 1;
        transform: translateY(-30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .container {
        display: flex;
        flex-direction: column;
        padding: 60px;
    }
    .left_col{
        display: none;
    }
    section {
        padding: 0;
    }
    /* STYLING OF THE INDEX SECTION */
    
    .index {
        flex-direction: column;
        margin-top: 0;
    }
    .index_content {
        flex-direction: column;
        padding: 0px;
        width: 100%;
        order: 2;
  
    }
    .index_content .greetings,.role,.description {
        padding-bottom: 18px;
    }
    .index_content .greetings h1 {
        margin-top: 10px;
    }
    .index_content .name h2 {
        font-size: 3rem;
    }
    .index_content .role h3 {
        font-size: 3.6rem;
        margin-top: 10px;
    }
    .index_content .description p {
        text-align: justify;
        font-size: var(--fz-md);
        letter-spacing: var(--pletter-spacing);
    }
    .message {
        margin-bottom: 0;
    }
    .about {
        display: flex;
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    
    .my_story {
        text-align: justify;
        padding: 0;
        order: 1;
    }
    .my_story_profile {
      order: 2;
      margin-bottom: 80px;
      width: 100%;
    }
    .blog_post h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }    
    .blogs .post {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    } 
    .read-more-btn {
        font-size: var(--fz-md);
    }
    
    .read-more-btn:hover {
        box-shadow: 3px 3px var(--dark-orange);
        color: var(--primary-color);
    
    }
    .project {
        padding: 35px 30px;
        cursor: pointer;
    }
    .project h2{
        color: var(--primary-color);
    }    
    .project_icons {
        display: flex;
    }
    .project_folder {
        font-size: 40px;
        color: var(--accent-color);
    }
    
    .project_icons .external i {
        margin-left: 15px;
        color: var(--accent-color);
        font-size: 18px;
    }
    
    .work_btn {
        font-size: var(--fz-md);
        padding: 15px 40px;
    }
    footer {
        color: var(--accent-color);
        font-size: var(--fz-md);
        margin-bottom: 20px;
        margin-top: 0;
    }
    /* END OF FOOTER STYLING */
  }
  
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    
    /* NAVIGATION BAR STYLING */
    a {
        font-size: 17px;
    }
    
    .social_res-icons {
      display: flex;
      margin-top: 70px;
      width: 550px;
      padding: 10px 20px;
      align-self: center;
      color: var(--accent-color);
      justify-content: space-between;
  }
    header {
      padding: 20px 0px 20px 80px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
    }
    .logo img {
      height: 90px;
      width: 90px;
    }
    /* MAIN SECTION STYLING */
    .left_col{
        display: none;
    }
    aside {
      display: none;
    }
    
    /* STYLING OF THE INDEX SECTION */
    .container {
      padding: 0 80px 0 0;
      margin-left: 0;
      width: 100vw;
    }
    section {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .index_content {
        width: 100%;
    }
    .index_content .greetings,.role,.description {
        padding-bottom: 30px;
    }
    .index_content .greetings h1 {
        font-size: var(--fz-md);
    }
    .index_content .name h2 {
        font-size: 2.28rem;
        color: var(--primary-color);
    }
    .index_content .role h3 {
        font-size: 3rem;
        color: var(--primary-color);
    }
    .index_content .description p {
        font-size: var(--fz-md);
        letter-spacing: var(--pletter-spacing);
    }
    .message {
        padding: 1rem 3.5rem;
    }
    /* THE ABOUT PAGE */
    .my_story h2 {
        font-size: 30px;
        margin-bottom: 60px;
        color: var(--primary-color);
    }
    .about {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      padding: 0;
      width: 100%;
  }
  
  .my_story {
      text-align: justify;
      padding: 0;
      order: 1;
      width: 100%;
      margin-right: 200px;
  }
  
  .my_story_profile {
    order: 2;
    margin-bottom: 80px;
  }
    
    .post_content {
        background-color: rgba(0, 0, 0, 0.8);
        padding: var(--fz-md);
        width: 100%;
        height: 100;
        box-sizing: border-box;
        position: relative;
        border-radius: 0 0 4px 4px;
        margin-right: 70px;
    }
    /* END OF BLOG SECTION STYLING */
    
    /* FOOTER STYLING */
    
    footer {
        color: var(--accent-color);
    }
}

@media only screen and (max-width: 760px) {
  #experience {
    width: 100%;
    margin-top: 100px;
  }
  
  .exp-line {
    display: none;
  }
  .timeline {
    margin: 20px auto;
  }
  .timeline::after {
    left: 10px
  }
  .timeline-container {
    width: 100%;
    padding-left: 45px;
    padding-right: 0;
  }
  .timeline-container .text-box {
    font-size: 13px;
    padding: 20px 10px;
  }
  .timeline-container .text-box ul {
    padding: 0;
  }
  .tech-skills li, .timeline-container .text-box ul li {
    padding-left: 20px;
  }
  .right-container {
    left: 0;
  }
  .left-container img, .right-container img {
    left: -10px;
  }
  .left-container-arrow {
    left: -15px;
    transform: rotate(180deg);
  }
  @keyframes moveright {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes moveleft {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}